

:root{
    --primary: black;
    --text-foreground: white;
}

.text-primary-foreground{
    color: var(--text-foreground) !important;
}
.text-primary{
    color: var(--primary) !important;


}
.bg-primary{
    background-color: var(--primary) !important;
}
.ring-primary{
    border-color: var(--primary) !important;
}

.border-primary{
    border-color: var(--primary) !important;
}