<%- include('../partials/header.ejs') %>
<div class="grid lg:grid-cols-2 min-h-[100dvh]">
  <div class="flex items-center justify-center p-6 lg:p-12">
    <div class="mx-auto w-full max-w-md space-y-6">
      <div class="space-y-2 text-center">
        <h1 class="text-3xl font-bold">Welcome</h1>
        <p class="text-muted-foreground">Enter your email and password to sign in</p>
      </div>
      <form name="signInForm" class="space-y-4" method="post">
        <div class="space-y-2">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="email">
            Email
          </label>
          <input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" type="email" id="email" name="email" placeholder="m@example.com" required="" />
        </div>
        <div class="space-y-2">
          <div class="flex items-center justify-between">
            <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="password">
              Password
            </label>
            <a class="text-sm font-medium underline underline-offset-4 hover:text-primary" href="#">
              Forgot password?
            </a>
          </div>
          <input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" type="password" id="password" name="password" required="" />
        </div>

        <div class="dummies py-2 bg-gray-100 px-2">
          Dummies:
          <button type="button" class="btn btn-primary border border-black rounded p-2" onclick="populdateDummy(this)">Admin</button>
          <button type="button" class="btn btn-primary border border-black rounded p-2" onclick="populdateDummy(this)">PM01</button>
          <button type="button" class="btn btn-primary border border-black rounded p-2" onclick="populdateDummy(this)">PM02</button>
          <button type="button" class="btn btn-primary border border-black rounded p-2" onclick="populdateDummy(this)">TM01</button>
          <button type="button" class="btn btn-primary border border-black rounded p-2" onclick="populdateDummy(this)">TM02</button>
          <button type="button" class="btn btn-primary border border-black rounded p-2" onclick="populdateDummy(this)">TM03</button>
        </div>



        <% if (typeof error_message !=='undefined' && error_message.length> 0 ) { %>

        <!-- alert box -->
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <span class="block sm:inline">
            <%= error_message %>
          </span>
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3"></span>
        </div>

        <% } %>

        <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full" type="submit">
          Sign In
        </button>
        <p class="mt-8 text-sm font-light text-center text-gray-600"> Don't have an account? <a href="/signup" class="font-medium text-primary  hover:underline">Create One</a></p>
      </form>

    </div>
  </div>
  <div class="hidden lg:block">
    <img src="/home_left_bg.png" alt="City Skyline" width="1920" height="1080" class="h-full w-full object-cover" style="aspect-ratio:1920/1080;object-fit:cover" />
  </div>
</div>

<script>
  function populdateDummy(e) {
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const u = e.innerText.toLowerCase();
    // email.target.value = `${u}@example.com`
    signInForm.email.value = `${u}@example.com`
    signInForm.password.value = `${u}@example.com`
  }
</script>

<%- include('../partials/footer.ejs') %>